<div class="air-on-today">
    <div class="container">
        <div class="heading">
            <h2>Air On Today</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-3" *ngFor="let movie of displayedItems">
                <div class="movie-item">
                    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="">
                    <h3>{{movie.name}}</h3>
                </div>
            </div>
        </div>
        <div class="text-center mt-3" *ngIf="showMorebtn">
            <button class="btn btn-primary" (click)="toggleSeries()">
                {{showAll ? 'Show Less' : 'Show More'}}
            </button>
        </div>
    </div>
</div>