<div class="top-rated">
    <div class="container">
        <div class="heading">
            <h2>Top Rated Movies</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-3" *ngFor="let movie of displayedMovies">
                <div class="movie-item">
                    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{movie.title}}">
                    <h3>{{movie.title}}</h3>
                </div>
            </div>
        </div>
        <div class="text-center" *ngIf="showMore">
<button class="btn btn-primary" (click)="toggleShowMovies()">
    {{showAllMovies ? 'Show Less' : 'Show More'}}
</button>
        </div>
    </div>
</div>