.header{
    background-color: var(--primary-color-5);
}
.container{
    padding: 25px;
}
.logo{
    font-size: 50px;
    color: var(--secondary-color-2);
}
.logo h2{
    font-size: 30px;
    color: white;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    margin-left: 5px;
}
.logo span{
    color: var(--secondary-color-2);
}
.search input{
    width: 400px;
    height: 40px;
    background: none;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    color: var(--secondary-color-2);
    position: relative;
}
.search i{
    position: absolute;
    left: 68%;
    top:40px;
    font-size: 20px;
    color: var(--secondary-color-2);
}
.search i:hover{
    cursor: pointer;
}
.login-menu button{
    width: 50px;
    height: 40px;
    background-color: var(--secondary-color-2);
    border: none;
    border-radius: 20px;
    margin-left: 5px;
}
.login-menu .login .menu{
    font-size: 20px;
}
.login-menu button:hover{
    cursor: pointer;
    background-color: white;
}
.login-menu .menu{
    display: none;
}
.search-btn{
    display: none;
}

@media (max-width:780px){
    .container{
        padding: 15px;
        position: relative;
    }
    .logo{
        font-size: 20px;
    }
    .logo h2{
        font-size: 15px;
        font-weight: 300;
        margin-top: 5px;
    }
    .search{
        display: none;
    }
    .search-btn{
        display: block;
    }
    .login-menu button{
        background: none;
        color: var(--secondary-color-2);
    }
    .login-menu button:hover{
        cursor: pointer;
        background: none;
    }
    .login-menu .menu{
        display: block;
    }
}

@media(max-width:1024px)
{
    .search i{
        position: absolute;
        left: 76%;
        top:40px;
        font-size: 20px;
        color: var(--secondary-color-2);
    }
    .search i:hover{
        cursor: pointer;
    }
}