<div class="header">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="logo d-flex align-items-center">
            <i class="fa-solid fa-photo-film"></i>
            <h2>VvMovies<span>Star</span></h2>
        </div>
        <div class="search">
            <input type="text" placeholder="search for movie ..." >
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="login-menu d-flex">
           <button class="search-btn"> <i class="fa-solid fa-magnifying-glass"></i></button>
            <button class="login"><i class="fa-solid fa-user-large"></i></button>
            <button class="menu"><i class="fa-solid fa-bars"></i></button>
        </div>
    </div>
</div>