
  .home-page {
    display: flex;
    height: 100vh; 
  }
  
  app-side-bar {
    flex: 0 0 350px;
    overflow-y: auto; 
    height: 100vh;
  }
  
  app-main-content {
    flex: 1;
    overflow-y: auto; 
    height: 100vh;
  }
  
  @media(max-width:780px)
  {
    app-side-bar{
      display: none;
    }
  }